body {
    font-family: 'Times New Roman', Times, serif,
    Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

header {
  text-align: center;
  border: 2px dotted black;
}

h1 {
  font-size: 42px;
}

a:hover {
color: black;
text-decoration: underline;
}

a:active {
color: black;
}

a:visited{
color: #6A5E6C
}

section {
  background-color: #A7A6AE;
}

.ak {
  background-color: #6A5E6C;
  width: 420px;
  height: 220px;
  border: 4px dashed black;
  background-image: url(../images/ak.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 4px auto;
  border-radius: 15px;
}

.silly {
  background-color: #6A5E6C;
  width: 400px;
  height: 200px;
  border: 2px dotted black;
  background-image: url(../images/sillygirl.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 4px auto 5px;
}

.banner {
  background-color: #A7A6AE;
  height: 200px;
  border: 2px dotted #6A5E6C;
  width: 600px;
  background-image: url('../images/flyd-bS9f4vCC3Ks-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 600px;
  margin: 4px auto 5px;
}

.thing {
  background-color: #6A5E6C;
  border: 2px dotted black;
  height: 100px;
  width: 100px;
  background-image: url('../images/usahanasanrio.jpg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 5px;
  margin: 4px auto 4px;
}

.div-1 {
  background-color: #6A5E6C;
  width: 200px;
  height: 250px;
  padding: 10px;
  margin: 20px auto;
  border: 4px dashed black;
  border-radius: 15px;
}


.div-2 {
  background-color: #6A5E6C;
  width: 190px;
  height: 250px;
  padding: 10px;
  margin: 20px auto;
  margin-top: 25px;
  border: 4px dashed black;
  border-radius: 15px;
}

.content-box {
  width: 20%;
  height: 350px;
  padding: 10px;
  margin: 30px auto;
  border: 2px dotted black;
  background-color: #6A5E6C;
  box-sizing: content-box;
}

.border-box {
  width: 520px;
  height: 320px;
  padding: 10px;
  margin: 60px auto 20px;
  border: 2px dotted black;
  background-color: #6A5E6C;
  box-sizing: border-box;
}

footer {
  text-align: right;
} 


#id-title {
  text-decoration: underline;
}

.class-title {
  text-decoration: underline;
}

h1 {
 font-family: "Mystery Quest", system-ui, Arial, Helvetica, sans-serif;
}